@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*Адаптив изображений*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

/*--------------------*/
body {
  font-family: Arial;
  background: #96dbfa; }

body._lock {
  overflow: hidden; }

body.fon-purple {
  background: #b0b4ea; }

.text-bold {
  font-size: 25px;
  font-weight: 600;
  color: #000;
  line-height: 120%; }
  @media (max-width: 1720px) {
    .text-bold {
      font-size: calc(15px + 10 * ((100vw - 320px) / 1400)); } }

.title-1 {
  text-decoration: underline;
  font-size: 50px;
  color: #000;
  font-weight: 700; }
  @media (max-width: 1720px) {
    .title-1 {
      font-size: calc(25px + 25 * ((100vw - 320px) / 1400)); } }

.text {
  font-size: 25px;
  color: #000;
  font-weight: 600;
  line-height: 120%; }
  @media (max-width: 1720px) {
    .text {
      font-size: calc(15px + 10 * ((100vw - 320px) / 1400)); } }

.title-1-h {
  text-decoration: underline;
  font-size: 50px;
  color: #fff;
  font-weight: 700; }
  @media (max-width: 1720px) {
    .title-1-h {
      font-size: calc(25px + 25 * ((100vw - 320px) / 1400)); } }

.text-h {
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  line-height: 120%; }
  @media (max-width: 1720px) {
    .text-h {
      font-size: calc(15px + 10 * ((100vw - 320px) / 1400)); } }

.title-min {
  font-size: 30px;
  font-weight: 600;
  color: #000; }
  @media (max-width: 1720px) {
    .title-min {
      font-size: calc(20px + 10 * ((100vw - 320px) / 1400)); } }

.container {
  max-width: 1130px;
  padding: 0 20px;
  margin: 0 auto; }

@media (max-width: 1720px) {
  .container {
    max-width: 1020px; } }

@media (max-width: 1420px) {
  .container {
    max-width: 845px; } }

@media (max-width: 1024px) {
  .container {
    max-width: none;
    padding: 0; } }

.heder-body {
  background-image: url("../img/фон-шапка.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 300px;
  width: 100%; }
  @media (max-width: 767px) {
    .heder-body {
      min-height: 200px; } }

.heder-logo {
  display: block;
  position: absolute;
  top: 35px;
  left: 33px;
  height: auto;
  width: 100px; }
  @media (max-width: 1720px) {
    .heder-logo {
      width: 85px; } }
  @media (max-width: 767px) {
    .heder-logo {
      top: 20px;
      left: 30px;
      width: 50px; } }

.heder-body-title {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 105px;
  color: #fff;
  font-size: 70px;
  line-height: 130px;
  padding: 0 70px;
  background: #3f48cc; }
  @media (max-width: 1720px) {
    .heder-body-title {
      margin-top: 93px;
      line-height: 115px; } }
  @media (max-width: 767px) {
    .heder-body-title {
      padding: 0 40px;
      font-size: 30px;
      line-height: 80px; } }

.heder-body-bottom {
  position: relative;
  margin-top: 40px;
  width: 100%;
  z-index: 20; }

.heder-list {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 65px; }
  @media (max-width: 767px) {
    .heder-list {
      display: block; } }

.heder-link {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 19%;
  flex: 1 1 19%;
  background: #b3c2fd;
  min-height: 100%;
  border-right: 3px solid #747bcc;
  border-top: 3px solid #747bcc;
  border-bottom: 3px solid #747bcc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2px; }
  @media (max-width: 767px) {
    .heder-link {
      display: block;
      min-height: 1px;
      background: none;
      border: none;
      padding: 0;
      padding-bottom: 20px;
      text-align: left; } }

.heder-link:last-child {
  border-right: 3px solid #747bcc; }
  @media (max-width: 767px) {
    .heder-link:last-child {
      border: none; } }

.heder-link:first-child {
  border-left: 3px solid #747bcc; }
  @media (max-width: 767px) {
    .heder-link:first-child {
      border: none; } }

.heder-link:nth-child(5n) {
  border-right: 3px solid #747bcc; }
  @media (max-width: 767px) {
    .heder-link:nth-child(5n) {
      border: none; } }

.heder-link a span {
  text-align: center;
  font-size: 25px;
  color: #fff;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }
  @media (max-width: 1720px) {
    .heder-link a span {
      font-size: calc(15px + 10 * ((100vw - 320px) / 1400)); } }
  @media (max-width: 767px) {
    .heder-link a span {
      font-size: 40px;
      text-align: left; } }
  @media (max-width: 767px) and (max-width: 1720px) {
    .heder-link a span {
      font-size: calc(28px + 12 * ((100vw - 320px) / 1400)); } }

.heder-link a {
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0; }
  @media (max-width: 767px) {
    .heder-link a {
      text-align: left;
      display: block; } }
  .heder-link a:hover span {
    color: #747bcc; }

/*===================================*/
.menu__icon {
  display: none; }

@media (max-width: 767px) {
  .menu__icon {
    display: block;
    z-index: 5;
    position: fixed;
    top: 20px;
    right: 30px;
    width: 30px;
    height: 18px;
    cursor: pointer; }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #fff; }
  .menu__icon::before,
  .menu__icon::after {
    content: ""; }
  .menu__icon::before {
    top: 0; }
  .menu__icon::after {
    bottom: 0; }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
    -ms-transform: scale(1) translate(0px, -50%);
    transform: scale(1) translate(0px, -50%); }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
    -ms-transform: scale(0) translate(0px, -50%);
    transform: scale(0) translate(0px, -50%); }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
    -ms-transform: rotate(-45deg) translate(0px, -50%);
    transform: rotate(-45deg) translate(0px, -50%); }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
    -ms-transform: rotate(45deg) translate(0px, 50%);
    transform: rotate(45deg) translate(0px, 50%); }
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    overflow: auto; }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 80%;
    top: 0;
    right: -100%;
    height: 60px;
    background: #000;
    z-index: 3;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .menu__body._active {
    right: 0; }
  .menu__body._active::before {
    right: 0; }
  /*.menu__body._active::before{
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 60px;
		background: #000;
		z-index: 2;
		transition: 0.3s;
	}*/ }

.footer {
  padding: 40px 0; }

.footer-texst {
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #000; }

.Specialties {
  padding: 0 10px; }
  @media (max-width: 1024px) {
    .Specialties {
      padding: 0; } }

.Specialties-title {
  padding: 10px 0;
  padding-left: 10px;
  margin: 0 10px; }

.Specialties-body {
  padding: 15px 10px;
  margin: 0 10px;
  background: #6e74c7; }

.Specialties-body-list {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.Specialties-body-link {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  padding-bottom: 12px; }

.Specialties-body-link:last-child {
  padding: 0; }

.Specialties-body-link:before {
  content: "- ";
  font-size: 20px;
  font-weight: 600;
  color: #000; }

.Specialties-img {
  margin: 18px 0;
  padding-top: 68%; }

.Education-body {
  margin: 0 10px;
  background: #6e74c7;
  padding: 15px 10px; }
  @media (max-width: 767px) {
    .Education-body {
      margin: 0; } }

.Education-text-p {
  padding-top: 45px; }
  @media (max-width: 1720px) {
    .Education-text-p {
      padding-top: calc(20px + 25 * ((100vw - 320px) / 1400)); } }

.questions-body {
  margin: 0 10px; }

.block__title {
  font-size: 30px;
  padding: 3px;
  font-weight: 600;
  background: #6e74c7;
  margin-bottom: 5px;
  display: block;
  text-align: left;
  width: 100%; }
  @media (max-width: 1720px) {
    .block__title {
      font-size: calc(20px + 10 * ((100vw - 320px) / 1400)); } }

.block__text {
  margin-left: 80px;
  margin-left: 80px;
  background: #6e74c7;
  margin-bottom: 5px;
  padding: 3px; }
  @media (max-width: 1720px) {
    .block__text {
      margin-left: calc(25px + 55 * ((100vw - 320px) / 1400)); } }

.Creteria-receipts-body {
  margin: 0 10px; }

.Creteria-receipts-title {
  text-align: center;
  margin-bottom: 15px; }

.Creteria-receipts-text {
  background: #b3c2fd;
  padding: 5px; }

.Creteria-receipts-text p {
  line-height: 130%;
  font-size: 18px; }

.About-the-specialty-bagraunt {
  background: #6e74c7; }

.About-the-specialty-title {
  padding: 10px 0;
  padding-left: 15px; }

.About-the-specialty-body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .About-the-specialty-body {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.About-the-specialty-body-left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
  padding-left: 15px;
  padding-bottom: 15px; }
  @media (max-width: 767px) {
    .About-the-specialty-body-left {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      padding: 15px;
      padding-top: 0; } }

.About-the-specialty-body-reght {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 65%;
  flex: 0 0 65%;
  background: #b0b4ea; }
  @media (max-width: 767px) {
    .About-the-specialty-body-reght {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; } }

.About-the-specialty-body-reght-top img {
  width: 100%;
  height: auto; }

.About-the-specialty-body-reght-bottom p {
  padding: 15px; }

.About-the-specialty-body2 {
  background: #b0b4ea; }
  @media (max-width: 767px) {
    .About-the-specialty-body2 {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.About-the-specialty-body-left2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  padding: 15px; }
  @media (max-width: 767px) {
    .About-the-specialty-body-left2 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; } }

.About-the-specialty-body-reght2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%; }
  @media (max-width: 767px) {
    .About-the-specialty-body-reght2 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; } }

.About-the-specialty-title2 {
  padding-bottom: 10px; }

.title-home {
  padding-left: 15px;
  padding-bottom: 15px; }
  @media (max-width: 767px) {
    .title-home {
      padding-left: 15px;
      padding-top: 15px; } }

.home-text {
  background: #6e74c7;
  padding: 7px; }

.title-min-home {
  margin-bottom: 10px;
  display: block; }

.About-the-specialty-body-reght-home {
  background: none; }

.About-the-specialty-body-reght-bottom-home {
  margin-top: 20px; }

.title-home2 {
  text-align: center;
  margin-top: 15px; }

.home-list-body {
  background: #fff;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 0;
  margin-top: 15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.home-list-body-objekt {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 31.5%;
  flex: 0 0 31.5%;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px; }
  @media (max-width: 767px) {
    .home-list-body-objekt {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 45.5%;
      flex: 0 0 45.5%; } }
  @media (max-width: 420px) {
    .home-list-body-objekt {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; } }

.home-list-body-objekt-img {
  width: 70px;
  height: 70px;
  border: 1px solid #e9e9e9;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.home-list-body-objekt-img img {
  width: 45%;
  height: auto; }

.home-list-body-objekt-p {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  font-size: 17px;
  color: #083c55; }

.heder-body-bottom-none {
  display: none; }

.heder-sub-title-h {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 10px; }
  @media (max-width: 1720px) {
    .heder-sub-title-h {
      font-size: calc(25px + 15 * ((100vw - 320px) / 1400)); } }

.Marketing-home-body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 767px) {
    .Marketing-home-body {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      overflow: hidden; } }

.Marketing-home-body-left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%; }
  @media (max-width: 767px) {
    .Marketing-home-body-left {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      margin-bottom: 20px; } }

.Marketing-home-body-left-list {
  background: #617cdc;
  padding: 10px 0; }

.Marketing-home-body-left-list-link {
  position: relative;
  left: 10px; }

.Marketing-home-body-left-list-link:after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background: #3f48cc;
  margin: 10px 0;
  position: relative;
  left: -10px; }

.Marketing-home-body-left-list-linkn:last-child:after {
  content: "";
  display: none; }

.Marketing-home-body-left-list-title {
  text-align: right;
  position: relative;
  right: 10px; }

.Marketing-home-body-left-list-title:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #3f48cc;
  margin: 10px 0;
  position: relative;
  right: -10px; }

.Marketing-home-body-reght {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%; }
  @media (max-width: 767px) {
    .Marketing-home-body-reght {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; } }

.Marketing-home-body-reght p {
  padding: 10px;
  background: #617cdc; }

.Marketing-home-img {
  width: 100%;
  padding-top: 60%;
  margin-top: 60px; }
  @media (max-width: 1720px) {
    .Marketing-home-img {
      margin-top: calc(20px + 40 * ((100vw - 320px) / 1400)); } }
